<md-tab-group id="wbc-dialog-tab-container" (selectChange)="selectTab($event.index)">
    <md-tab>
        <template md-tab-label>Was</template>
        <template md-tab-content>
            <div class="wbc-dialog-tab" id="wbc-dialog-tab-1">
                <div class="wbc-tab-overlay-top">
                    <h1>Unser Modernes Hamburg</h1>
                    <p> Fritz Schumacher | Architekt | Stadtentwickler | Visionär | 1909 - 1933</p>
                </div>
                <div class="wbc-tab-overlay-bot">
                    <p>HIER KÖNNEN SIE DAS WIRKEN FRITZ SCHUMACHERS UND SEINE HAMBURGER WERKE ERKUNDEN</p>
                </div>
            </div>
       </template>
    </md-tab>
    <md-tab label="Wie">
        <template md-tab-label>Wie</template>
        <template md-tab-content>
            <div class="wbc-dialog-tab" id="wbc-dialog-tab-2">
                <div class="wbc-tab-overlay-top">
                    <h1>Schumachers Werke</h1>
                    <p>auf der interaktiven Karte erkunden</p>
                </div>
                <div class="wbc-tab-overlay-bot">
                    <p>Bilder und Geschichten zu den Gebäuden</p>
                </div>
            </div>
        </template>
    </md-tab>
    <md-tab label="Wer">
        <template md-tab-label>Wer</template>
        <template md-tab-content>
            <div class="wbc-dialog-tab" id="wbc-dialog-tab-3">
                <div class="wbc-tab-overlay-top">
                    <h1>Digitaler Rundgang</h1>
                    <p> durch Schumachers Hamburg</p>
                </div>
                <div class="wbc-tab-overlay-bot">
                    <p>Geführte Rundgänge zu verschiedenen Themen</p>
                </div>
            </div>
        </template>
    </md-tab>
</md-tab-group>