   <!--<md-nav-list>
    <h3 md-subheader *ngIf="dataService.projectsArray">
      {{dataService.projectsArray.length}} Projekte gefunden
    </h3>
    <md-list-item *ngFor="let project of dataService.projectsArray | projectFilter: dataService.searchTerm" routerLink="projekte/{{project.id}}">
      <img md-list-avatar src="http://res.cloudinary.com/webuildcity/image/upload/c_scale,h_50,w_50/v1477922050/{{project.img}}" alt="{{project.name}}"> 
        <h4 md-line>{{project.name}}</h4>
        <p md-line class="wbc-secondary-text"> {{project.tagsImportant}}  {{project.tags}}</p>        
    </md-list-item>
</md-nav-list>-->